@charset "UTF-8";

@font-face {
    font-family: 'Inria Sans';
    src: url(../fonts/Inria_Sans/InriaSans-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: url(../fonts/Inria_Sans/InriaSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inria Sans';
    src: url(../fonts/Inria_Sans/InriaSans-Light.ttf);
    font-weight: light;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fonte1: 'Inria Sans', sans-serif;
    --cor1: #f5f1e6;
    --cor1-rgb: 241 245 230;
    --cor2: #152D6B;
    --cor3: #2958D1;
    --cor4: #F59E0B;
    --cor5: #10B981;
}

body{
    background-color: var(--cor1);
    font-family: var(--fonte1);
}

header{
    /*position: fixed;*/
    width: 100%;
    height: 60px;
    background-color: rgb(var(--cor1-rgb) / 40%);
    font-size: 16px;
}

img{
    display: inline-block;
}

.logo{
    max-width: 130px;
}

.botoes-login{
    display: flex;
    font-size: 17px;
}

#principal{
    position: relative;
    display: flex;
    width: 98%;
    margin: auto;
    border-radius: 50.45px;
    background-image: radial-gradient(var(--cor3) 25%, var(--cor2) 100%);
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
    overflow: hidden;
    min-height: 712px;
    margin: auto;
}

#z-transparente{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
    opacity: 20%;
    z-index: 1;   
    object-position: left center;
    margin-left: 40px;;
}

#conteudo-principal{
    position: relative;
    z-index: 2;    
    max-width: 50%;
}

#principal::before{
    content: "";
    position: absolute;
    inset: 0;
    background: url("../images/overlay-principal.png") center / cover;
    mix-blend-mode: overlay;
    opacity: 0%;
}

#principal p{
    font-size: 1.375rem;
    color: rgb(var(--cor1-rgb)/70%);
    max-width: 70%; 
    margin-top: 20px;
    margin-bottom: 40px;
}

#botao-comecar{
    display: flex;
    background-color: var(--cor5);
    width: 267px;
    height: 53px;
    justify-content: center;
    align-items: center;
    gap: 27px;
    border-radius: 6.35px;
}

#botao-comecar a{
    font-size: 26px;
    font-weight: bold;
    color: var(--cor1);
    text-decoration: none;
    margin: 17px;
}

#principal h1{
    color: var(--cor1);
    font-size: 3.75rem;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


h1{
    font-size: 60px;
    text-transform: uppercase;
}

h2{
    font-size: 55px;
    text-transform: uppercase;
}

#carrossel h2::first-letter{
    text-transform: uppercase;
}

#carrossel h2{
    text-transform: lowercase;
}

.texto-laranja{
    color: var(--cor4);
}

.texto-verde{
    color: var(--cor5);
}
.texto-azul{
    color: var(--cor3);
}





